* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 3em 3em 3em 3em;
}

.list-group-item {
  background-color: #ff6d1c;

  a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
  }
}

.ticket-price {
  float: right;
}

.amount-left {
  font-style: italic;
  color: #fff;
  float: right;
}

.event-details {
  background-color: #ff6d1c;
  color: #fff;
  font-size: 20px;

}

.p-12 {
  padding: 1.2em 1.2em 0 1.2em;

}

.add-ticket {
  position: absolute;
  font-size: 20px;
  left: 105%;
  top: 0;
  padding: 0.8em;
}
