<div class="container login-container">
  <div class="row h-100">
    <div class="col-sm-12 my-auto min-vh-47 login-container">
      <form *ngIf="!isLoggedIn" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="tm-form">
          <h4 class="mb-4 login-title">Inloggen</h4>
          <div class="form-group">
            <input autofocus type="text" formControlName="username" placeholder="Gebruikersnaam" id="username"
              class="form-control mb-1" />
            <p *ngIf="
                myForm.get('username').errors && myForm.get('username').touched
              " class="alert alert-danger invalid">
              Gebruikersnaam is verplicht.
            </p>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Wachtwoord" formControlName="password" id="password"
              class="form-control mb-1" />
            <p *ngIf="
                myForm.get('password').errors && myForm.get('password').touched
              " class="alert alert-danger invalid">
              Wachtwoord is verplicht.
            </p>
          </div>
          <div class="form-group buttons">
            <button type="submit" class="btn btn-custom mr-2">
              <i class="fas fa-key"></i> Inloggen
            </button>
            <button type="submit" class="btn btn-custom">
              <i class="fas fa-user"></i> Maak een nieuw account aan
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
