.row {
  margin: 5em 10em 0em 10em;
  color: #fff;

  .login-container {
    background-color: #ff6d1c;
    padding: 6.7em 10em 3em 10em;
    min-height: 47.5vh;

    .login-title {
      text-align: center;
      letter-spacing: .3em;
      font-weight: bold;
    }

    .invalid {
      padding: 0.5em;
      color: rgb(248, 2, 2);
    }

    .form-control {
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px solid #fff;
      color: #ffff;
    }

    .buttons {
      .btn-custom {
        border: 1px solid #000;
        background: #fff;
        text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
        vertical-align: middle;
        text-decoration: none;
        color: #000000;

        &:hover {
          background: #ff6d1c;
          color: #fff;
          border-color: #fff;
        }
      }
    }


  }

}
