<div class="container mt-5">
  <app-artists-list></app-artists-list>
</div>

<div class="container mt-4">
  <h3>Nieuw artiest</h3>
  <form [formGroup]="myArtistForm" (ngSubmit)="onArtistAdd()">
    <div class="form-group">
      <label for="name">Naam</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="biography">Biografie</label>
      <input
        type="text"
        class="form-control"
        id="biography"
        formControlName="biography"
      />
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input
        type="text"
        class="form-control"
        id="genre"
        formControlName="genre"
      />
    </div>
    <button type="submit" class="btn p-2 mt-2 float-right">
      Artiest toevoegen
    </button>
  </form>
</div>
